---
docker-hub-account: ""
docker-hub-user: ""
docker-hub-pass: ""
kubernetes-api-endpoint: https://my-cluster.example.com:6443
kubernetes-service-account-token: ""
kubernetes-certificate-authority: |
  -----BEGIN CERTIFICATE-----
  <-- Certificate Here -->
  -----END CERTIFICATE-----

